{% extends "base.html" %}

{% block content %}
    <p> {{task.title}} </p>
    <p> {{task.status}} </p>

    <h3>Comments</h3>
    {% fro comment in task.comments.all %}
    <p>{{comment.author.username}}:</p>
    <p>{{comment.content}} - {{comment.created_at}}</p>
    {% empty %}
    <p>No comments</p>
    {% endfor %}

    <h5>Add comment</h5>
    <form method="post" action="{% url 'ask-detail' task.id %} enctype="multipart/form-data"">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Click</button>
    </form>
{% endblock %}